.halfHeight{
    height: 50%;
}

.bg{ 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.padding {
    padding: 2%;
}